.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
  height: 152px;
  box-sizing: border-box;
}

.header h1 {
  margin-left: 48px;
  place-content: center;
  font-size: 1.5rem;
}

.header div {
  display: flex;
  gap: 24px;
  margin-right: 48px;
}
